<h1>Players#index</h1>
<%= will_paginate @players, previous_label: "PREV", next_label: "NEXT", inner_window: 1, outer_window: 0  %>
<table>
    <tr>
      <th>Player</th>
      <th>Nationality</th>
      <th>Position</th>
      <th>Overall</th>
    </tr>

    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.country.name %></td>
        <td><%= player.position %></td>
        <td><%= player.overall %></td>
        </tr>
    <% end %>
</table>
<%= will_paginate @players, previous_label: "PREV", next_label: "NEXT", inner_window: 1, outer_window: 0 %>
