<hr>
<header>
  <ul>
    <li><%= link_to "Players", players_path %></li>
    <li><%= link_to "Country", countries_path %></li>
    <li>Club</li>
    <% cms_pages.each do |page| %>
      <li><%= link_to page.title, permalink_path(page.permalink) %></li>
    <% end %>
  <%# <%= form_tag players_path, :method => "GET" do %> %>
    <%= search_form_for%>
      <%= text_field_tag :keyword, params[:keyword], {placeholder: 'Search player...'} %>
      <%# <%= collection_select :country, :id, Country.all.order('name ASC'), :id, :name, {include_blank: 'Select Category'}%>
      <%= select_tag :search_category, options_for_select(@countries), include_blank: 'Select Category' %>
      <%= submit_tag "Search" %>
    <% end %>
  </ul>
</header>