<!-- Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Footballers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Players", players_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Country", countries_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Club</a>
        </li>
        <% cms_pages.each do |page| %>
          <li class="nav-item">
            <%= link_to page.title, pages_path, class: "nav-link"  %>
          </li>
        <% end %>
      </ul>
      <div class="search-box col-md-5">
      <%= form_tag players_path, method: 'get', id: 'players_search' do %>
      <div class="d-flex">
        <%= text_field_tag :keyword, params[:keyword], class: "form-control" %>
        <%= select_tag :search_category, options_from_collection_for_select(Player.all, "id", "country_id"), :include_blank => 'All', class: "form dropdown-toggle" %>
        <div class="input-group-append">
          <%= submit_tag "Search", name: nil, class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</nav>
<!-- Navigation Bar-->